jupyter-book
ghp-import
matplotlib
scikit-learn
pandas
numpy
mapie
properscoring
scipy
pyparsing
torch
tensorflow
statsmodels
tqdm
joblib
pgmpy
networkx
mpltern
venn-abers
pycalib
arviz
pymc
xarray
aesara
seaborn
ffmpeg-python
pytensor==2.22.1
sphinx-proof==0.1.3
pyro-ppl==1.9.1
gpytorch==1.11