jupyter-book
ghp-import
matplotlib
scikit-learn
pandas
numpy
mapie
properscoring
scipy
pyparsing
tensorflow
statsmodels
tqdm
joblib
pgmpy
networkx
mpltern
venn-abers
pycalib
xarray
aesara
seaborn
ffmpeg-python
pymc==5.15.1
arviz==0.18.0
pytensor==2.22.1
gpytorch==1.11
torch==2.3.0
torchvision==0.18.0
graphviz==0.20.3
sphinx-proof
